[Unit]
Description=Is it foggy snapshot service

[Service]
ExecStart=/usr/share/isitfoggy/snap.sh
StandardOutput=null
User=isitfoggy

[Install]
WantedBy=multi-user.target
Alias=isitfoggy.service
