
body {
	margin: 0px;
	background: #000;
    display: flex;
	direction: rtl;
}
.timeboxes{
	position: relative;
	height: 4.16667%;
	text-align: center;
	margin:0px;
	padding: 0px;
	border:0px;
	border-bottom-style: none;
	padding: 0px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: monospace;
}
.timeboxodd {
	position: relative;
	height: 4.16667%;
	border-bottom: black;
	color:#cccccc;
	text-align: center;
	margin:0px;
	padding: 0px;
	border:0px;
	border-bottom-style: none;
	font-size: 16pt;
	background-color: #444444;
	padding-left: 5px;
	padding-right: 5px;
	font-family: monospace;
}
.timeboxeven {
	position: relative;
	height: 4.16667%;
	color:#dddddd;
	border-bottom: black;
	text-align: center;
	margin:0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border:0px;
	border-bottom-style: none;
	font-size: 18pt;
	font-family: monospace;
	background-color: #333333
}

.right p {
	text-align: right;
	color:lightgray;
	padding-right: 5px;
	margin:0px;
	top:4.545%;
	position: relative;

}

.bands {
	height: 100vh;
	width:90vw;
	flex: 1;
	display: flex;
	flex-direction: row;
}
.month_band {
	height: 100%;
	width: 100%;
	image-rendering: pixelated;
	position:relative;
}
.month {
	width: 100%;
}
.month p {
  text-align: left;
  font-family: monospace;
  color: grey;
}

.Zmonth_link {
margin: 0px;
padding: 0px;
border: 0px;
}
.Zmonth_band {
margin: 0px;
padding: 0px;
border: 0px;
vertical-align: top;
height: 100%;
width: 100%;
image-rendering: pixelated;
}
.band {
flex: 1;
flex-direction: row-reverse;
height: 100%;
margin: 0px;
padding: 0px;
border: 0px;
min-width: 60px;
position: relative;
}
.right {    
    right: 0%;
    top: 0px;
    width: 100px;
    height: 90vh;
	position: sticky;
z-index: 1;

}
.bottom {
	width: 80%;
	height: 20vh;
	border: 3px solid white;
}
.band_img_and_link {
  width: 100%;
  height: 90%;
}
/* Used for daylight_month */
img[usemap] {
	border: none;
	height: 100vh;
	width: 100%;
	image-rendering: pixelated;
}
